

.App {
    display: flex;
    flex-direction: row;
  }
  
  .appForm {
    width: 50%;
    padding: 25px 4px;
    overflow: auto;
  }
  
  .appAside {
    margin-top: 5%;
    width: 50%;
  }

  .appAside-img{
    background-size: 100% 100%;
    height: 90%;
    width: 80%;
  }

  .app-top{
    height: 50px;
  }

  .formCenter {
    margin-top: 5%;
    margin-left: 14%;
    margin-right: 14%;
    width: 50%;

  } 

  .header{
    margin-bottom: 15%;
  }
  
  .back-img{
    position: relative;
    height:  100vh;
    background-size: 100% 100%;
     background-image: url("./images/path16.png");
  }

  .formFieldLabel {
      display: block;
      margin-bottom: 10px;
  }
  
  .formFieldInput {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 25px;
    box-sizing: border-box;
  }
  
  .or{
     text-align: center;
     font-weight: bold;
     margin-bottom: 20px;
  }
  
  .formFieldButton {
    width: 100%;
    background-color: #020007;
    color: white;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-top: 40px;
  }
  .otpField{
    margin-top: 30px;
    /* width: 90%; */
  }
  
  .sign-in{
    width: 100%;
    margin-bottom: 40px;
    padding-left: 200px;
  
  }
  
  .login-footer{
    position: relative;
    margin-top: 15%;
    margin-left: 60px;
  }
  
  .pageSwitcher{
    background-color: #ffffff;
    color: #f10b0b;
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 0.9em;
    border: 1px solid rgb(239, 70, 70) ;
    border-radius: 5px ;
    outline: none;
    text-decoration: none;
  }
  
  .pageSwitcher:hover{
    text-decoration: none;
    color: #f10b0b;
  
  }
  

  .navbar-button{
    position: relative;
    display:flex;
    flex-direction: row;
  }

  .nav-login{
    position: relative;
  }

  .right-btn{
    position: absolute;
    display:flex;
    flex-direction: row;
    right: 3%;
  }

  .mid-button{
    display:flex;
    flex-direction: row;
    width: 500px;
    margin-left: 29%;
  }

.btn-mid{
    font-weight: 500;
    font-size: 90%;
    /* width: 40%; */
    height: 24px;
    margin: 0px 10px;
    border: none;
    background-color: transparent; 
    color: #000000;
    cursor: pointer;
}

.sign-up-button{
  width: 140px; 
  height: 40px; 
  margin-left: 37px;
  margin-top: -8px;
  
}

.sign-in-button{
  width: 140px;
  height: 40px;
  color: #000000;
  margin-top: -8px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}

.left-button{
  margin-left: 30px;
  margin-top: -8px;
   border: none;
   background-color: transparent;
   font-weight: 900;
    font-size: 30px;
    cursor: pointer;

}


@media screen and (max-width: 768px) {
    .App{
      display: block;
    }
    .appForm{
      width: 100%;
    }
    .appAside{
      display: none;
    }

    .mid-button{
      margin-left: 3%;
      width: 400px;
    }

    .left-button{
       font-size: 20px;
    }

    .btn-mid{
      font-size: 10px;
      margin: 0px 5px;

    }

    .sign-in-button{
      width: 80px;
    }

    .sign-up-button{
      width: 80px;
      margin-left: 10px;
    }
   
}

@media  (min-width:768px) and  (max-width:1188px){

  .mid-button{
    margin-left: 10%;
  }

  .sign-in-button{
    width: 100px;
  }

  .sign-up-button{
    width: 100px;
    margin-left: 30px;
  }
  
}