*{
  font-family: 'Poppins';
}
  .login{
    display: flex;
    flex-direction: row;
  }

  .container-home{
    position: relative ;
    height: 100vh;
    background-image: linear-gradient(to top right, rgb(197, 82, 255), rgb(185, 5, 251));
  }

  .navbar{
    position: relative;
  }

.container-top{
  height: 50px;
}

 .display-home-flex{
  display: flex;
  flex-direction: row;
 }

 .home-content{
  width: 40%;
  margin-left: 50px;
  margin-top: 5%;
  color: #FFFFFF;

}

.home-div-img{
  width: 60%;
   
}

.home-img{
  margin-top: 10%;
  margin-left: 10%;
  background-size: 100% 100%;
  height: 80%;
  width: 80%;
}

.signin-signup-btn{
  position: absolute;
  display: flex;

  right: 5%;
}

.btn-sign-in{
    width: 149px;
    height: 40px;
    margin-left: 37px;
    color: #000000;
    margin-top: -8px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
  }
  
  .btn-sign-up{
    width: 149px;
    height: 40px;
    margin-left: 30px;
    margin-top: -8px;

  }
  
  .nav-buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
  }

  .btn-btn-mid{
    margin-left: 20%;
    width: 500px;
  }

.btn-btn{
    font-weight: 500;
    font-size: 90%;
    height: 24px;
    margin: 0px 10px;
    border: none;
    background-color: transparent; 
    color: #FFFFFF;
    cursor: pointer;
}

.home-menu{
  position: relative;
}

/* style={{"font-size":"2vw" ,"lineHeight" : "34px"}} */

.content1{
  font-size: 25px ;
  line-height: 30px;
}

.content2{
  font-size: 20px;
  line-height: 34px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.content3{
  font-size: 14px;
line-height: 24px;
}


.home-img-bottom{
  position: absolute;
   width: 100%;
   height: 200px;
   /* margin-top: -24px; */
   bottom: 0;
}

.logo{
  background-size: 100% 100%;
  width: 12%;
  height: 90%;
  margin-left: 35px;
  margin-top: -20px;
  
}

@media screen and (max-width: 768px){
  .btn-sign-in{
    width: 60px;
  }
  
  .btn-sign-up{
    width: 60px;
    margin-left: 10px;
  }

  .btn-btn-mid{
    margin-left: 5%;
    width: 500px;
  }
  .btn-btn{
    font-weight: 500;
    font-size: 12px;
    margin: 0px 5px;
}


.content1{
  font-size: 16px ;
  line-height: 20px;
}

.content2{
  font-size: 14px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content3{
  font-size: 10px;
  line-height: 15px;
}
}

@media  (min-width:768px) and  (max-width:1118px){
  .btn-sign-in{
    width: 80px;
  }
  
  .btn-sign-up{
    width: 80px;
    margin-left: 10px;
  }

  .btn-btn-mid{
    margin-left: 15%;
    width: 500px;
  }
  .btn-btn{
    font-weight: 500;
    font-size: 12px;
    margin: 0px 10px;
  }
  .content1{
    font-size: 20px ;
    line-height: 24px;
  }
  
  .content2{
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .content3{
    font-size: 14px;
    line-height: 18px;
  }
}


